<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
    <servlet-name>abc</servlet-name>
    <servlet-class>demo.serverlet</servlet-class>
    </servlet>
    <servlet>
     <servlet-name>cde</servlet-name>
    <servlet-class>demo.mserverlet</servlet-class>
   </servlet>
  
  <servlet-mapping>
      <servlet-name>abc</servlet-name>
      <url-pattern>/serverlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
       <servlet-name>cde</servlet-name>
      <url-pattern>/mserverlet</url-pattern>
  </servlet-mapping>
</web-app>